!!!
%haml
%head
  
    %meta{:content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title ChatSpaceSample
    %meta{:content: "authenticity_token", :name: "csrf-param"}/
    %meta{:content: "b9eyBcKnlUEJbY64mBdtnaBoCKxby1EDOx8THY9c+SF2Fk/tWKEXFSQc/G3HiqooUONb2BwSH8d23y9rOQecow==", :name: "csrf-token"}/
    %link{"data-turbolinks-track": "reload", :href: "style.css", :media: "all", :rel: "stylesheet"}/
    %script{"data-turbolinks-track": "reload", :src: "/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js"}
 
  %body
    = yield